{% extends "base.html" %}
{% load static %}


{% block main %}
<body class="sub_page">
  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static "images/hero-bg.jpg" %}" alt="">
    </div>
</body>
{% endblock main %}


{% block about %}
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-1">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static "images/about1.jpg" %}" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
              <img src="{% static "images/about2.jpg" %}" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
              <img src="{% static "images/about3.jpg" %}" class="d-block w-100" alt="Slide 2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-md-2">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
            Tortuga's Diner & Pub
            </h2>
          </div>
          <style>
            .mycontainer {
              text-align: center;
            }
          
            .mycontainer p {
              text-align: left; /* Левое выравнивание текста внутри параграфа */
            }
          
            .mycontainer ul {
              text-align: left; /* Левое выравнивание текста внутри списка */
            }
          </style>
          
          <div class="mycontainer">
            <p>Открыты для тех, кто ценит хорошую атмосферу!</p>
            <p>Tortuga'S - уютный бар, приглашающий гостей на приятное времяпрепровождение. Здесь вы можете насладиться настольными играми в компании друзей, попробовать изысканные импортные сорта напитков, наслаждаясь вкусной кухней, выпить чашечку кофе, насладиться киберспортивными трансляциями и отметить праздники в уютной обстановке.</p>
            <p>Tortuga'S - это необычное заведение с особым подходом, в числе ключевых черт которого можно выделить:</p>
            <ul>
              <li>Местный Паб. У нас представлены отборные импортные и крафтовые разливные напитки. С лучшими ценами в Москве, наш паб пользуется популярностью как у местных жителей, так и у тех, кто готов преодолеть длинный путь.</li>
              <li>Местный Дайнер. Наш бизнес-ланч считается лучшим в округе, предоставляя отличную возможность обедать с коллегами каждый день.</li>
              <li>Ивент Плейс. Иногда Tortuga'S превращается в площадку для самых разнообразных мероприятий, в основном игрового формата - дни настольных игр, киберспортивные турниры, сборища, посвященные проектам Blizzard Entertainment и не только! При этом, у нас также проводятся живые выступления рок-музыкантов в акустическом формате :)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock about %} 










<!-- Подключение стилей Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Подключение скриптов Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
