{% extends "base.html" %}
{% load static %}



{% block main %}
<div class="hero_area">
  <div class="bg-box">
    <img src="{% static "images/mainpage.png" %}" alt="">
  </div>
{% endblock main %}


{% block slider %}
<section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Пивной ресторан в Москве
                </h1>
                <p>
                  Большой выбор блюд и напитков
                </p>
                <div class="btn-box">
                  <a href="{% url 'menu:menu_list' %}" class="btn1">
                    Наше меню
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Пивной ресторан в Москве
                </h1>
                <p>
                  От станции метро Стахановская 2 минуты пешком
                </p>
                <div class="btn-box">
                  <a href="#locationSection" class="btn1">
                    Расположение
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <h1>
                  Пивной ресторан в Москве 
                </h1>
                <p>
                  Приходите к нам!
                </p>
                <div class="btn-box">
                  <a href={% url "main:reservation" %} class="btn1">
                    Забронировать стол
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section>
{% endblock slider %}

{% block offer %}
<section class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container ">
      <div class="row">
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static "images/1.jpg" %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Вкусная еда
              </h5>
              <h6>
                Готовим с любовью, ешьте с удовольствием
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static "images/2.jpg" %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Бизнес ланчи 
              </h5>
              <h6>
                Бизнес ланчи - вкусно и выгодно.<br>
                С 12 до 16.
              </h6>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock offer %}

{% block section %}
<div class="gallery">
  <div class="heading_container heading_center">
    <h2>Наше меню</h2>
    <div class="gallery-images">
      <a href="{% url "menu:category_detail" category_slug="salaty" %}">
        <img src="{% static "images/3.png" %}" alt="Image 1">
      </a>
      <a href="{% url "menu:category_detail" category_slug="goryachee" %}">
        <img src="{% static "images/4.png" %}" alt="Image 2">
      </a>
      <a href="{% url "menu:category_detail" category_slug="deserty" %}">
        <img src="{% static "images/5.png" %}" alt="Image 3">
      </a>
      <a href="{% url "menu:category_detail" category_slug="zakuski" %}">
        <img src="{% static "images/6.png" %}" alt="Image 4">
      </a>
      <a href="{% url "menu:category_detail" category_slug="supy" %}">
        <img src="{% static "images/7.png" %}" alt="Image 5">
      </a>
      <a href="{% url "menu:category_detail" category_slug="napitki" %}">
        <img src="{% static "images/8.png" %}" alt="Image 6">
      </a>
    </div>
  </div>
</div>
{% endblock section %}

{% block opinions %}
<div class="heading_center">
  <h2>Ваши отзывы</h2>
</div>
<div class="reviews-container">
  <div class="review">
    <h3>Александр</h3>
    <p>Удивительное заведение, выдающийся владелец, отличное пиво, превосходная рулька, великолепные крылья с острым соусом, атмосфера настоящего пиратского паба. Рекомендую!</p>
  </div>

  <div class="review">
    <h3>Иван</h3>
    <p>Посещаю данное заведение с самого открытия. Не раз праздновал там различные мероприятия. Это место уже как родное, вкусная еда, пиво, демократичные цены, музыка в моем вкусе и приятные хозяева. Еще не раз приду сюда и приведу друзей. </p>
  </div>

  <div class="review">
    <h3>Татьяна</h3>
    <p>Потрясающе вкусно! Очень хорошее пиво. Борщ божественный! Картошка с мясом удивительно вкусная! Гренки, обычные гренки просто волшебные. Не первый раз здесь, и я просто уверена, не в последний. </p>
  </div>
</div>
{% endblock opinions %}

{% block book %}
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Забронировать стол
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form method="post" action="{% url 'main:index' %}">
            {% csrf_token %}
            {% if messages %}
                            <div class="alert alert-success">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
            {% endif %}
            <div>
              <input type="text" class="form-control" placeholder="Ваше имя" name="name" autocomplete="off"/>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Номер телефона" name="phone" autocomplete="off"/>
            </div>
            <div>
              <select class="form-control nice-select wide" name="num_persons">
                <option value="" disabled selected>
                  Сколько гостей?
                </option>
                <option value="2">
                  2
                </option>
                <option value="3">
                  3
                </option>
                <option value="4">
                  4
                </option>
                <option value="5">
                  5
                </option>
              </select>
            </div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            
            <div>
                <input type="text" class="form-control" name="date" id="dateInput" data-inputmask="'mask': '99.99.9999'" autocomplete="off" placeholder="Выберите дату"/>
            </div>
            <div>
              <input type="text" class="form-control" name="time" id="timeInput" autocomplete="off" placeholder="Выберите время"/>
          </div>
      
          <script>
              flatpickr('#dateInput', {
                  dateFormat: 'd.m.Y',
              });
      
              flatpickr('#timeInput', {
                  enableTime: true,
                  noCalendar: true,
                  dateFormat: 'H:i',
                  time_24hr: true, 
              });
          </script>
      
          <div class="btn_box">
              <button type="submit">Забронировать стол</button>
          </div>
          </form>      
        </div>
      </div>
      <div class="col-md-6">
        <section id="locationSection">
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/tortuga_s/1748265287/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Tortuga'S</a><a href="https://yandex.ru/maps/213/moscow/category/bar_pub/184106384/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Бар, паб в Москве</a><a href="https://yandex.ru/maps/213/moscow/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Ресторан в Москве</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.756045%2C55.726867&mode=poi&poi%5Bpoint%5D=37.757546%2C55.726629&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1748265287&z=18.46" width="555" height="434" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
      </section>
      </div>
    </div>
  </div>
</section>
{% endblock book %}




</body>

</html>