{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="">

  <title> TortugaS - Пивной ресторан в Москве </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet" />
  
  <!-- responsive style -->
  <link href="{% static "css/responsive.css" %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"></head>
  
{% block content %}{% endblock content %}
{% block main %}{% endblock main %}
<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="{% url "main:index" %}">
        <span>
          Tortuga's
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mx-auto ">
          <li class="nav-item">
            <a class="nav-link" href="{% url "main:index" %}">Главная страница </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "menu:menu_list" %}">Меню </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "main:about" %}">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "main:reservation" %}">Забронировать стол</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</header>
    <!-- slider section -->
{% block slider %}{% endblock slider %}
    <!-- end slider section -->
  </div>

  <!-- offer section -->

{% block offer %}{% endblock offer %}

  <!-- end offer section -->

  <!-- food section -->

{% block section %}{% endblock section %}

  <!-- end food section -->
{% block opinions %}{% endblock opinions %}
  <!-- about section -->

{% block about %}{% endblock about %}

  <!-- end about section -->

  <!-- book section -->
{% block book %}{% endblock book %}
  <!-- end book section -->

  <!-- client section -->

{% block client %}{% endblock client %}

  <!-- end client section -->

  <!-- footer section -->
  {% block footer %}
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Наши контакты
            </h4>
            <div class="contact_link_box">
              <a href="https://yandex.ru/maps/org/tortuga_s/1748265287/?from=mapframe&ll=37.757547%2C55.726629&z=15">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Где мы находимся
                </span>
              </a>
              <a>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +7-999-926-44-51
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  почтаиваныча
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Tortuga'S
            </a>
            <p>
              Вкусная еда и разнообразное пиво в нашем заведении ждут вас! Приходите!<br>
              &copy; <span id="displayYear1"></span> All Rights Reserved By
            <a>TortugaS Pub</a><br>
            &copy; <span id="displayYear2"></span> Templates By
            <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            <span id="displayYear3"></span> Icons By
            <a href="https://www.flaticon.com/ru/" target="_blank">Flaticon</a>
            </p>
  
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>Часы открытия</h4>
          <p>Сегодня</p>
          <p id="working-hours"></p>
        
          <script>
            var currentDay = new Date().getDay();
            var workingHours;
        
            switch (currentDay) {
              case 0:
                workingHours = "с 13:00 до 01:00";
                break;
              case 1:
                workingHours = "с 08:00 до 23:00";
                break;
              case 2:
                workingHours = "с 08:00 до 23:00";
                break;
              case 3:
                workingHours = "с 08:00 до 23:00";
                break;
              case 4:
                workingHours = "с 08:00 до 23:00";
                break;
              case 5:
                workingHours = "с 13:00 до 01:00";
                break;
              case 6:
                workingHours = "с 13:00 до 01:00";
                break;
              default:
                workingHours = "Нет данных";
            }
        
            // Вставьте график работы в элемент с id="working-hours"
            document.getElementById("working-hours").innerHTML = workingHours;
          </script>
        </div>
  
    </div>
  </footer>
  {% endblock footer %}
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static "js/bootstrap.js" %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static "js/custom.js" %}"></script>
  <script src="{% static 'js/scrollToForm.js' %}"></script>
</body>
</html>
</body>

</html>